:root{
    --primary: #B21F2C;
    --secondary: #e57373;
    --title: #FFFFFF;
}

nav{
    font-size: 1.25em;
    background: var(--primary);
}

nav a{
    text-transform: uppercase;
    color: var(--title);
}

nav a span{
    font-weight: bold;
}

nav .sidenav-trigger{margin: 0;}

#indexChart {
    width:100%;
    max-width:900px; 
    align-items: center;
}

#chart {
    width: 100%;
    align-items: center;
}

.dwnld{
    background-color: #B21F2C !important;
    margin: 25px 0px;
}

.content-container{
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.page-head{
    background-color: #B21F2C;
    border-radius: 25px;
    padding: 15px 10px;
    margin: 20px;
    color: #ffffff;
    text-align: center;
}

.page-title{
    color: #B21F2C;
    margin: 15px;
}

.input-field input[type=number]:focus + label {
    color: #e57373  !important;
  }
  /* label underline focus color */
.row .input-field input[type=number]:focus {
    border-bottom: 1px solid #e57373  !important;
    box-shadow: 0 1px 0 0 #e57373  !important;
}